/*

Style with support for rainbow parens

*/

pre {
  display: block;
  font-size:85%;
  margin-top: 5px;
  overflow-wrap: break-word; 
  overflow: auto; 
  overflow-x:hidden;
  padding: 0.5em;
  background: #474949;
  color: #d1d9e1;
}


pre .comment,
pre .quote {
  color: #969896;
  font-style: italic;
}

pre .keyword,
pre .selector-tag,
pre .literal,
pre .type,
pre .addition {
  color: #cc99cc;
}

pre .number,
pre .selector-attr,
pre .selector-pseudo {
  color: #f99157;
}

pre .string,
pre .doctag,
pre .regexp {
  color: #8abeb7;
}

pre .title,
pre .name,
pre .section,
pre .built_in {
  color: #b5bd68;
}

pre .variable,
pre .template-variable,
pre .selector-id,
pre .class pre .title {
   color: #ffcc66;
}

pre .section,
pre .name,
pre .strong {
  font-weight: bold;
}

pre .symbol,
pre .bullet,
pre .subst,
pre .meta,
pre .link {
  color: #f99157;
}

pre .deletion {
  color: #dc322f;
}

pre .formula {
  background: #eee8d5;
}

pre .attr,
pre .attribute {
  color: #81a2be;
}

pre .emphasis {
  font-style: italic;
}
