/*

School Book style from goldblog.com.ua (c) Zaripov Yura <yur4ik7@ukr.net>

*/

pre code {
  display: block;
  font-size:85%;
  margin-top: 5px;
  overflow-wrap: break-word; 
  overflow: auto; 
  overflow-x:hidden;
  padding: 15px 0.5em 0.5em 30px;
  font-size: 11px;
  line-height:16px;
  border-left: 5px solid #9A3135;
}

pre{
  background:#f6f6ae;
  border-top: solid 2px #d2e8b9;
  border-bottom: solid 1px #d2e8b9;
}

pre .keyword,
pre .selector-tag,
pre .literal {
  color:#005599;
  font-weight:bold;
}

pre,
pre .subst {
  color: #3e5915;
}

pre .string,
pre .title,
pre .section,
pre .type,
pre .symbol,
pre .bullet,
pre .attribute,
pre .built_in,
pre .builtin-name,
pre .addition,
pre .variable,
pre .template-tag,
pre .template-variable,
pre .link {
  color: #2c009f;
}

pre .comment,
pre .quote,
pre .deletion,
pre .meta {
  color: #e60415;
}

pre .keyword,
pre .selector-tag,
pre .literal,
pre .doctag,
pre .title,
pre .section,
pre .type,
pre .name,
pre .selector-id,
pre .strong {
  font-weight: bold;
}

pre .emphasis {
  font-style: italic;
}
