/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/

pre code {
  display: block;
  font-size:85%;
  margin-top: 5px;
  overflow-wrap: break-word; 
  overflow: auto; 
  overflow-x:hidden;
  padding: 0.5em;
  background: #fff;
  color: black;
  border-left: 5px solid #9A3135;
}

pre .comment,
pre .quote {
  color: #006a00;
}

pre .keyword,
pre .selector-tag,
pre .literal {
  color: #aa0d91;
}

pre .name {
  color: #008;
}

pre .variable,
pre .template-variable {
  color: #660;
}

pre .string {
  color: #c41a16;
}

pre .regexp,
pre .link {
  color: #080;
}

pre .title,
pre .tag,
pre .symbol,
pre .bullet,
pre .number,
pre .meta {
  color: #1c00cf;
}

pre .section,
pre .class pre .title,
pre .type,
pre .attr,
pre .built_in,
pre .builtin-name,
pre .params {
  color: #5c2699;
}

pre .attribute,
pre .subst {
  color: #000;
}

pre .formula {
  background-color: #eee;
  font-style: italic;
}

pre .addition {
  background-color: #baeeba;
}

pre .deletion {
  background-color: #ffc8bd;
}

pre .selector-id,
pre .selector-class {
  color: #9b703f;
}

pre .doctag,
pre .strong {
  font-weight: bold;
}

pre .emphasis {
  font-style: italic;
}
