/*

Railscasts-like style (c) Visoft, Inc. (Damien White)

*/

pre {
  display: block;
  font-size:85%;
  margin-top: 5px;
  overflow-wrap: break-word; 
  overflow: auto; 
  overflow-x:hidden;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}

pre .comment,
pre .quote {
  color: #bc9458;
  font-style: italic;
}

pre .keyword,
pre .selector-tag {
  color: #c26230;
}

pre .string,
pre .number,
pre .regexp,
pre .variable,
pre .template-variable {
  color: #a5c261;
}

pre .subst {
  color: #519f50;
}

pre .tag,
pre .name {
  color: #e8bf6a;
}

pre .type {
  color: #da4939;
}


pre .symbol,
pre .bullet,
pre .built_in,
pre .builtin-name,
pre .attr,
pre .link {
  color: #6d9cbe;
}

pre .params {
  color: #d0d0ff;
}

pre .attribute {
  color: #cda869;
}

pre .meta {
  color: #9b859d;
}

pre .title,
pre .section {
  color: #ffc66d;
}

pre .addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

pre .deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

pre .selector-class {
  color: #9b703f;
}

pre .selector-id {
  color: #8b98ab;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}

pre .link {
  text-decoration: underline;
}
