/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

pre {
  display: block;
  font-size:85%;
  margin-top: 5px;
  overflow-wrap: break-word; 
  overflow: auto; 
  overflow-x:hidden;
  padding: 0.5em;
  background: #002b36;
  color: #839496;
}

pre .comment,
pre .quote {
  color: #586e75;
}

/* Solarized Green */
pre .keyword,
pre .selector-tag,
pre .addition {
  color: #859900;
}

/* Solarized Cyan */
pre .number,
pre .string,
pre .meta pre .meta-string,
pre .literal,
pre .doctag,
pre .regexp {
  color: #2aa198;
}

/* Solarized Blue */
pre .title,
pre .section,
pre .name,
pre .selector-id,
pre .selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
pre .attribute,
pre .attr,
pre .variable,
pre .template-variable,
pre .class pre .title,
pre .type {
  color: #b58900;
}

/* Solarized Orange */
pre .symbol,
pre .bullet,
pre .subst,
pre .meta,
pre .meta pre .keyword,
pre .selector-attr,
pre .selector-pseudo,
pre .link {
  color: #cb4b16;
}

/* Solarized Red */
pre .built_in,
pre .deletion {
  color: #dc322f;
}

pre .formula {
  background: #073642;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
