/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
pre .comment,
pre .quote {
  color: #999999;
}

/* Tomorrow Red */
pre .variable,
pre .template-variable,
pre .tag,
pre .name,
pre .selector-id,
pre .selector-class,
pre .regexp,
pre .deletion {
  color: #f2777a;
}

/* Tomorrow Orange */
pre .number,
pre .built_in,
pre .builtin-name,
pre .literal,
pre .type,
pre .params,
pre .meta,
pre .link {
  color: #f99157;
}

/* Tomorrow Yellow */
pre .attribute {
  color: #ffcc66;
}

/* Tomorrow Green */
pre .string,
pre .symbol,
pre .bullet,
pre .addition {
  color: #99cc99;
}

/* Tomorrow Blue */
pre .title,
pre .section {
  color: #6699cc;
}

/* Tomorrow Purple */
pre .keyword,
pre .selector-tag {
  color: #cc99cc;
}

pre {
  display: block;
  font-size:85%;
  margin-top: 5px;
  overflow-wrap: break-word; 
  overflow: auto; 
  overflow-x:hidden;
  background: #2d2d2d;
  color: #cccccc;
  padding: 0.5em;
}

pre .emphasis {
  font-style: italic;
}

pre .strong {
  font-weight: bold;
}
